* {
  cursor: pointer;
  width: 100;
  position: sticky;
  justify-content: space-between;
  align-self: center;
  background-color: #00a;
  border-radius: 100%;
  justify-self: center;
  align-self: center;
}